*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.page {
    --basic-gap: 20px;
    font-family: sans-serif;
}

.page__wrapper {
    max-width: 1200px;
    border: 1px solid #aaa;
    box-shadow: 2px 2px 8px 1px #aaa;
}

.page__header {
    padding: var(--basic-gap);
    background-color: #336699;
    color: white;
}

.main-info {
    margin-bottom: var(--basic-gap);
    border-bottom: 2px solid white;
}

.main-info img {
    margin: 10px auto var(--basic-gap) auto;
    height: 170px;
    width: auto;
    display: block;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px #ddd;
}

.main-info h1 {
    margin-bottom: 15px;
    text-align: center;
}

.main-info .self-intro {
    padding-bottom: var(--basic-gap);
    line-height: 1.5;
    text-align: justify;
}

.contact {
    text-align: center;
}

.contact h2 {
    margin-bottom: 28px;
}

.contact .contact__item {
    margin-bottom: 20px;
}

.contact .contact__item h4 {
    margin-bottom: 3px;
}

main {
    background-color: white;
    padding: var(--basic-gap) 0;
}

section {
    padding: var(--basic-gap);
    margin-top: 20px;
    border-top: 1px solid #aaa;
    position: relative;
    text-align: center;
}

section:first-child {
    margin-top: var(--basic-gap);
}

section#languages,
section#dev-skills {
    padding-top: 30px;
}

section#languages {
    padding-bottom: 30px;
}

section h2 {
    padding: 0 5px;
    position: absolute;  
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: #2d2d2d;
    white-space: nowrap;
}

.experience__item, 
.education__item {
    margin-bottom: 30px;
    line-height: 1.5;
    border-bottom: 1px solid #ccc;
}

.experience__item:last-child, 
.education__item:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.experience__item:first-child,
.education__item:first-child {
    margin-top: 20px;
}

.company, 
.trayning-center {
    min-width: 280px;
    padding-bottom: 20px;
}

.trayning-center__name {
    white-space: nowrap;
}

.company__work-duration,
.trayning-center__duration {
    white-space: nowrap;
}

.job,
.learning-description {
    padding-bottom: 20px;
}

.job__description,
.learning-description {
    text-align: justify;
}

.language__item {
    margin-bottom: 15px;
}

.language__item:last-child {
    margin-bottom: 0;
}

.skill__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.skill__item {
    margin-bottom: 5px;
    margin-right: 7px;
}

@media only screen and (min-width: 768px) {

    .header-wrapper {
        display: flex;
        align-items: flex-start;
        border-bottom: 3px solid white;
    }

    .main-info {
        margin-bottom: 0;
        padding-right: var(--basic-gap);
        border-width: 3px;
        border-right: 3px solid white;
        border-bottom: none;
    }

    .main-info h1 {
        text-align: start;
    }
    
    .main-info img { 
        margin: 10px;
        margin-right: var(--basic-gap);
        float: left;
        shape-outside:circle();
    }

    .contact {
        padding-left: var(--basic-gap);
        text-align: left;
    }

    main {
        padding: var(--basic-gap);
    }

    section { 
        text-align: left;
        box-shadow: 0 0 4px 1px #ccc; 
        border: 1px solid #aaa;
        margin-top: 50px;
        background-color: #fbfcfd;
    }

    section h2 {
        left: 40px;
        transform: translateX(0);
    }

    .experience__item, 
    .education__item {
        margin-bottom: 20px;
        display: flex;
        border-width: 2px;
        margin-bottom: 60px;
    }

    .experience__item:last-child, 
    .education__item:last-child {
        border-bottom: 1px solid #ccc;
    }

    .company, 
    .trayning-center {
        border-right: 2px solid #ccc;
    }

    .job,
    .learning-description {
        padding-left: 20px;
    }

    .job__description,
    .learning-description {
        text-align: left;
    }

    .language__list {
        display: flex;
        align-items: center;
    }

    .language__item {
        margin-right: 80px;
        margin-bottom: 0;
    }

    .skill__list {
        justify-content: flex-start;
    }
}

@media only screen and (min-width: 992px) {

    .header-wrapper {
        display: flex;
        align-items: flex-start;
        border-bottom: 3px solid white;
    }

    .main-info {
        position: relative;
    }

    .main-info img { 
        margin-right: var(--basic-gap);
    }

}

@media only screen and (min-width: 1200px) {

    .page {
        --basic-gap: 30px;
    }

    .page__wrapper {
        margin: var(--basic-gap) auto;
    }

    .main-info img { 
       height: 190px;
    }

    .main-info h1 {
        font-size: 37px;
    }

}